body              { color: #000000; }

div.collection_entry     { background-color: #EEEEEE; border-style: solid; border-color: #BBBBBB; border-width:1px; padding: 8px; margin: 5px; cursor: pointer; }
div.collection_name      { font-size:10pt; color: #6699CC; }
div.collection_itemcount { font-size:8pt; }
#shuffle_button          { font-size:8pt; border-style: solid; border-color: #BBBBBB; border-width:1px; padding: 5px; margin: 5px; cursor: pointer; }

#section_info     { font-size:8pt; float:right; margin: 5px; }
#section_return   { font-size:8pt; float:left; background-color: #FFFFEE; border-style: solid; border-color: #BBBBBB; border-width:1px; padding: 5px; margin: 5px; cursor: pointer; }
#section_cards    { clear: both; }
div.class_entry	  { margin:5px; padding:1px; background-color: #BBBBBB }
div.entry_number  { font-size:8pt; background-color: #E6E6E6; padding: 1px 8px; cursor: pointer; text-align: right; color: #666666; }
div.entry_text1   { font-size:12pt; background-color: #EEEEEE; padding: 8px; cursor: pointer; }
div.entry_text2   { font-size:12pt; background-color: #DDEEFF; padding: 8px; cursor: pointer; }
